
* {
	font-family: "Comic Neue", cursive;
	font-weight: bold;
}

body {
	background: black;
}

p {
	font-size: 1.21em;
	line-height: 1.2em;
}

.postcard {
	background: white;
	width: 525px;
	height: 375px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
}
.postcard-header {
	display: flex;
	margin: 0 10px 0 10px;
}
.postcard-header img {
	height: 70px;
	width: 85px;
	margin-top: 12px;
}
.postcard-header h1 {
	width: 525px;
	margin-top: 35px;
}

.postcard-body {
	display: flex;
	margin: -12px 10px 0 10px;
}

.body-left {
	width: 150%;
}
.body-left p:nth-child(1) {
	margin: 25px 10px 0 0;
}
.body-left p:nth-child(2) {
	margin: 25px 10px 0 0;
}

.body-right input,
textarea {
	margin: 15px 0 0 10px;
	color: rgb(144, 144, 144);
	font-size: 1.15em;
	border: 0;
	border-bottom: 2px solid;
	outline: none;
	resize: none;
}

input:focus,
textarea:focus {
	color: #000;
}

.postcard-footer {
	text-align: center;
	padding-top: 5%;
}

button {
	background-color: rgb(191, 191, 191);
	font-size: 1.2em;
	border: 1px solid;
	border-color: #aaaaaa7a #000 #000 #aaaaaa7a;
	padding: 0 4px 6px 4px;
}
button:active {
	border-color: #000 #aaaaaa7a #aaaaaa7a #000;
}

/* * {
	border: 1px dashed red;
	min-height: 10px;
} */
